alias ll='ls -alF'
alias la='ls -A'
alias l='ls -CF'
alias :q='exit'
alias rc='rebar compile'
alias sl='ls'
alias vnc='virt-viewer -c qemu:///system '
alias ips='sudo arp-scan --interface=wlan0 --localnet'
alias gu='git add -u'
alias ga='git add .'
alias gs='git status'
alias gus='git add -u; git status'
alias gp='git pull'
alias pi='ssh pi@10.0.1.253'
alias retro='ssh pi@10.0.1.156'
alias mca='make clean all'
alias amazon='ssh -i ~/.ssh/haskellpar.pem ec2-user@54.194.70.160'
alias e='/Applications/Emacs.app/Contents/MacOS/bin/emacsclient -n '
alias gb='git branch -v'
alias 6.3='source ~/Documents/erlang/confd_basic/confdrc'
alias ragnaredis='docker run -it --link ragna-redis:redis --rm redis redis-cli -h redis -p 6379'
alias irssi='TERM=screen-256color irssi'
